
@{
    Layout = "_BaseLayout";
}
@model List<Pizza>

<div class="container">

    @*inizio delle cards------------------------------------*@
    <a class="btn btn-primary"
       href="@Url.Action("Create", "Pizza")">
        Aggiungi Nuovo Articolo
    </a>

    <div class="p-5 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        @foreach(Pizza elemento in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img style="aspect-ratio:4/3" src="@elemento.Image" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@elemento.Title</h5>
                        <p class="card-text">@elemento.Description</p>

                        <a class="btn btn-warning btn-sm" href="@Url.Action("Details", "Pizza", new { id = elemento.Id })"> Details </a>

                        <a class="btn btn-warning btn-sm modifyBtn" href="@Url.Action("Update", "Pizza", new { id = elemento.Id })"> Modify </a>

                        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@elemento.Id" method="post" class="buttonForm btn btn-warning btn-sm"><a type="submit"> Delete </a></form>
                    </div>

                </div>
            </div>
        } 
       
    </div>

    @*inizio delle cards------------------------------------*@
</div>

